.d-flex button{
	/*margin: 1.5em 0.5em;
	padding: 0.3em 1.4em;*/
	margin-top: 20px;
	margin-left: 20px;
	padding: 10px 30px 10px 30px;
}

.d-flex table{
	margin-top: 30px;
	margin-left: 410px;
	margin-right: 410px;
}


.success{
	background-color: lightgreen;
	padding: 15px;
}

.error{
	background-color: tomato;
	padding: 15px;
}